<div class="container">
  <h1>Registrar contratos</h1>
  <form [formGroup]="contratoForm" (ngSubmit)="guardar()">
    <div class="row">
      <div class="col-sm-2">
        <label for="Cliente">cliente</label>
      </div>
      <div class="col-sm-4">
        <select
          validar
          class="form-select"
          aria-label="seleccione Cliente"
          formControlName="nitCliente"
        >
          <option [ngValue]="null" selected>Selecione...</option>
          <option
            *ngFor="let cliente of listaClientes | async"
            [ngValue]="cliente.nitCliente"
          >
            {{ cliente.razonSocial }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label for="Nit cliente">Tipo moneda</label>
      </div>
      <div class="col-sm-4">
        <select
          validar
          class="form-select"
          aria-label="seleccione tipo moneda"
          formControlName="tipoMoneda"
        >
          <option selected>Selecione...</option>
          <option value="USD">USD</option>
          <option value="COP">COP</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label for="TRM aplicada">TRM Aplicada</label>
      </div>
      <div class="col-sm-4">
        <input
          validar
          type="number"
          id="trmAplicada"
          placeholder="Tasa de Cambio aplicada"
          class="form-control"
          formControlName="trmAplicada"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label for="paquete">Paquete</label>
      </div>
      <div class="col-sm-4">
        <select
          validar
          class="form-select"
          aria-label="seleccione paquete"
          formControlName="paquete"
        >
          <option selected>Selecione...</option>
          <option value="basic">BASIC</option>
          <option value="compact">COMPACT</option>
          <option value="premium">PREMIUM</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label for="fecha instalacion">Fecha instalacion</label>
      </div>
      <div class="col-sm-4">
          <input
          type="date"
            class="form-control"
            id="fechaInstalacion"
            name="fechaInstalacion"
            formControlName="fechaInstalacion"
          />
      </div>
    </div>
    <div class="row">
      <div class="d-grid gap-2 col-6 pt-2">
        <button class="btn btn-primary btn-block">guardar</button>
      </div>
    </div>
  </form>
</div>
