<div class="kb">
  <div class="kb-brand">
    <app-title-h1 [tipo]="'primary'" texto="Listado Clientes"></app-title-h1>
    <div class="kb-brand__actions">
      <button class="kb-brand__actions-buttons" 
        routerLink="/cliente/crear">
        Nuevo
      </button>
      <button class="kb-brand__actions-buttons">Exportar</button>
    </div>
  </div>
  <div class="kb-filter">
    <div class="col-sm-3">
      <div class="kb-filter__form">
        <fa-icon [icon]="icons[0]"></fa-icon>
        <label class="visually-hidden" for="buscar cliente">Filtro</label>
        <input
          type="text"
          id="filterCustomer"
          autocomplete="off"
          placeholder="Filtrar Cliente"
          data-bs-toggle="tooltip"
          title="Filtrar cliente por nombre o nit"
          #cliente          
          [(ngModel)]="buscar"          
        />
      </div>
    </div>
  </div>
  <div class="kb-content">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">nit</th>
            <th scope="col">Razon social</th>
            <th scope="col">Nombre representante</th>
            <th scope="col">telefono</th>
            <th scope="col">direccion</th>
            <th scope="col" colspan="2">acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let cliente of listaClientes
                | async                
                | filtroTablaCliente:pagActual:maxPorPag: buscar;
                let i = index
            "
          >
            <th scope="row">{{ i+1 }}</th>
            <td>{{ cliente.nitCustomer }}</td>
            <td>{{ cliente.companyName }}</td>
            <td>{{ cliente.representantName }}</td>
            <td>{{ cliente.phone }}</td>
            <td>{{ cliente.adress }}</td>
            <td>
              <button class="btn btn-warning" routerLink="/cliente/crear/{{ cliente.id}}">
                <fa-icon [icon]="icons[1]"></fa-icon>
                Editar
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="alert()">
                <fa-icon [icon]="icons[2]"></fa-icon>
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="kb-pagination">
        <ngb-pagination
          [(page)]="pagActual"
          [pageSize]="maxPorPag"
          [maxSize]="4"
          [collectionSize]="totalClientes"
        ></ngb-pagination>
        <button type="button" ngbAutofocus class="btn btn-danger"
      (click)="modal.close('Ok click')">Ok</button>
        
      </div>
    </div>
  </div>
</div>
