@import "./modules/var";
.kb {
    padding: 0 50px;
    &-brand {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &__actions {
            height: 60px;
            padding: 0.5rem 0;
            color: $black;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            font-weight: 500;
            &-buttons {
                height: 40px;
                min-width: 100px;
                border: none;
                box-shadow: 1px 1px 6px 0 rgba($color: $black, $alpha: .4);
                transition: 0.5s all ease-in-out;
                cursor: pointer;
                background: $primary;
                color: $white;
                &:hover {
                    border: $border;
                    background: $white;
                    color: $primary;
                }
                &:disabled {
                    opacity: 0.5;
                }
            }
        }
    }
    &-filter,
    &-content {
        padding: .5rem;
        margin-bottom: .7rem;
        width: 100%;
        border: $border;
        &__form{
            display: flex;
            align-items: center;
            gap: .5rem;
            width: 100%;
            height: 2.4rem;
            padding-left: 1rem;
            opacity: .9;
            > fa-icon,
            label{
                font-weight: 600;
                font-size: .75rem;
                color: $black;
            }
            > fa-icon{
                font-size: 1rem;
                align-self: center;
                margin: 0;
                padding: 0 .5rem;
            }
            > input {
                width: 100%;
                height: 2rem;
                border: $border;
                padding-left: 1rem;
                opacity: .9;
                background: none;
                outline: none;
                color: $black;
                &:focus,
                &:active {
                    border: $border-bold;
                }
                &:-webkit-autofill {
                    box-shadow: 0 0 0 30px white inset !important;
                }
            }
        }
    }
}

table{
    width: 100%;
    border-collapse: collapse;
    tr{
        border-bottom: $border;
        th, td {
            text-align: center;
            vertical-align: middle;
            padding: 16px;
        }
    }
}

.kb-pagination{
    display: flex;
    justify-content: end;
}
