// General var
$font-general: "bariol_regular";//GeomanistWord-Bold
$primary: #000f24;
$secondary: #0d6efd;
$black: #000;
$white: #fff;
$border: 1px solid $primary;
$border-bold: 3px solid $primary;
// End general var